@import "src/media";

.container {
	@include media("mobile") {
		padding: 0px 20px;
	}
	@include media("tablet") {
		padding: 0px 40px;
		max-width: 640px;
		margin: 0 auto;
	}
	@include media("desktop") {
		max-width: 960px;
		margin: 0 auto;
	}
	@include media("large") {
		max-width: 1200px;
		margin: 0 auto;
	}
}
