@import "src/var";
@import "src/media";

.theorem-app {
	@include media("mobile") {
		min-height: calc(100vh - calc(#{$header-h-mobile} * 2));
	}
	@include media("tablet") {
		min-height: calc(100vh - calc(#{$header-h-tablet} * 2));
	}
	@include media("desktop") {
		min-height: calc(100vh - calc(#{$header-h-desktop} * 2));
	}
	@include media("large") {
		min-height: calc(100vh - calc(#{$header-h-large} * 2));
	}

	& > .container {
		height: 100%;
		.body {
			padding-top: 64px;
			padding-bottom: 64px;
			@include media("desktop", "large") {
				padding-top: 96px;
				@include dpr_media(1.25) {
					padding-top: 35px;
					.info-panel {
						margin-bottom: 5vh !important;
					}
					.app-grid {
						margin-bottom: 8vh !important;
					}
				}
			}
			.info-panel {
				margin-bottom: 5vh;
				@include media("mobile") {
					background-color: unset;
				}
				border: unset;
				background-color: unset;
			}

			.app-grid {
				display: grid;
				grid-column-gap: 15%;
				grid-row-gap: 15%;
				grid-template-columns: 1fr 1fr;

				.btn-group {
					order: 1;
					height: 42px;
					.flex-item {
						text-align: center;
					}
				}

				@include media("tablet", "mobile") {
					.btn-group:nth-child(1n) {
						.flex-box {
							flex-direction: row !important;
						}
					}
					grid-template-columns: 1fr;
					grid-template-rows: 1fr;
					grid-row-gap: 10%;

					.btn-group {
						order: unset;
						margin-bottom: 25px;
					}
				}

				@include media("mobile") {
					grid-row-gap: 0px;
					.btn-group {
						margin-bottom: unset;
						width: 70%;
						left: 50%;
						transform: translateX(-50%);
						top: -34px;
					}
				}
			}

			.next-btn-wrapper {
				margin-top: 95px;
				@include media("mobile") {
					margin-top: 10px;
				}
				text-align: center;
			}
		}
	}
}
