@import "src/media";
@import "src/var";

#header-wrapper {
	@include header_height;
	width: 100%;
	#header {
		@include header_height;
		border-top: 4px solid $purple;
		width: 100%;
		z-index: 999;
		background-color: white;
		top: 0;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.35);

		.logo {
			height: 100%;
		}
	}
}
