@import "src/var";
@import "src/media";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	@include trenda("black");
}

h2 {
	@include trenda("bold");
}

@include media("mobile", "tablet") {
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 16px;
	}
}

@include media("desktop", "large") {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;

		@include media("desktop", "large") {
			@include dpr_media(1.25) {
				font-size: 20px !important;
			}
		}
	}
}

