@import "src/var";
@import "src/media";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	@include trenda("black");
}

h2 {
	@include trenda("bold");
}



	

@include media("desktop","large") {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 26px;
	}
}
