@import "src/var";
@import "src/media";

#theorem-intro {
	padding-top: 75px;
	@include dpr_media(1.25)
	{
		padding-top: 45px;

	}
	.panel {
		h1 {
			margin-bottom: 15px !important;
		}
		h2 {
			margin-bottom: 25px !important;
		}

		@include media("mobile") {
			padding-top: 0px;
			border: none;
			background-color: transparent;
		}

		.point {
			@include trenda("semi-bold");
			margin-bottom: 30px;
			font-size: 16px;
			.flex-bullet {
				flex-basis: 50px !important;
				min-width: 50px !important;
				flex: unset !important;
				@include media("mobile", "tablet") {
					display: none;
				}
				.bullet {
					top: 2px;
					display: inline-block;
					width: 17px;
					height: 17px;
					background-color: $grey;
					border-radius: 20px;
				}
			}
		}

		.btn-group {
			.btn.primary {
				float: right;
			}
			.btn {
				width: 45%;
				height: 48px;
			}
			@include media("mobile") {
				text-align: center;
				.btn {
					float: unset !important;
					margin-bottom: 15px;
					display: inline-block;
					width: 80%;

					// margin-left: 50%;
					// transform: translateX(-50%);
				}
			}
		}
	}
}
