@import "src/var";
@import "src/media";

.panel {
	border-radius: $border-radius;
	background-color: $light-grey;
	border: 1px solid $grey;
	color: $grey;

	@include media("mobile") {
		padding: 10px 15px;
		border: unset !important;
	}
	@include media("tablet") {
		padding: 15px 20px;
	}
	@include media("desktop") {
		padding: 25px 30px;
	}
	@include media("large") {
		padding: 30px 45px;
	}
}
