@import "src/media";

.theorem-panel {
	margin-bottom: 35px;
	margin: unset;
	height: 100%;
	min-height: 120px;
	@include media("mobile", "tablet") {
		min-height: unset;
	}

	@include media("desktop", "large") {
		@include dpr_media(1.25) {
			font-size: 0px !important;
		}
	}

	@include media("mobile") {
		margin-bottom: 45px; // space for the buttons
	}
	@include media("tablet") {
			
	}
	@include media("desktop") {

	}
}
