@import "src/var";
@import "src/media";

.theorem-points-btn {
	display: inline-block;
	width: 120px;
	// height: 44px;
	height: 100%;
	border-radius: $border-radius;
	border: 1px solid $grey;
	background-color: $light-grey;
	cursor: pointer;

	h1 {
		@include media("large") {
			font-size: 22px;
		}
		@include media("desktop") {
			font-size: 18px !important;
		}
	}

	&.active {
		background-color: $purple;
		color: $light-grey;
	}

	@include media("desktop", "large") {
		@include dpr_media(1.25, 1.1) {
			width: 86px;
			height: 36px;
			h1 {
				font-size: 18px;
			}
		}
	}

	@include media("mobile") {
		width: 52px;
		height: 20px;
		h1 {
			font-size: 16px;
		}
	}
}
