@import "src/var";
@import "src/media";

.theorem-points-btn {
	display: inline-block;
	width: 120px;
	height: 44px;
	border-radius: $border-radius;
	border: 1px solid $grey;
	background-color: $light-grey;
	cursor: pointer;

	h1 {
		font-size: 22px;
		@include media("desktop") {
			font-size: 18px !important;
		}
	}

	&.active {
		background-color: $purple;
		color: $light-grey;
	}
}
