$mobile: 480px;
$tablet: 1024px;
$desktop: 1400px;

@mixin media($medias...) {
	@each $media in $medias {
		@if $media == "mobile" {
			@media only screen and (max-width: $mobile + 1) {
				@content;
			}
		} @else if $media == "tablet" {
			@media only screen and (min-width: $mobile + 1) and (max-width: $tablet + 1) {
				@content;
			}
		} @else if $media == "desktop" {
			@media only screen and (min-width: $tablet + 1) and (max-width: $desktop + 1) {
				@content;
			}
		} @else if $media == "large" {
			@media only screen and (min-width: $desktop + 1) {
				@content;
			}
		}
	}
}

@mixin dpr_media($ratios...) {
	@each $ratio in $ratios {
		@media only screen and (-moz-min-device-pixel-ratio: $ratio),
			only screen and (-o-min-device-pixel-ratio: $ratio/1),
			only screen and (-webkit-min-device-pixel-ratio: $ratio),
			only screen and (min-device-pixel-ratio: $ratio) {
			@content;
		}
	}
}
