$mobile: 480px;
$tablet: 900px;
$desktop: 1280px;

@mixin media($medias...) {
	@each $media in $medias {
		@if $media == "mobile" {
			@media screen and (max-width: $mobile) {
				@content;
			}
		}
		@else if $media == "tablet" {
			@media screen and (min-width: $mobile) and (max-width: $tablet) {
				@content;
			}
		}
		@else if $media == "desktop" {
			@media screen and (min-width: $tablet) and (max-width: $desktop) {
				@content;
			}
		}
		@else if $media == "large" {
			@media screen and (min-width: $desktop) {
				@content;
			}
		}
	}
}
