@import "media";

$grey: rgb(112, 112, 122);
$light-grey: rgb(247, 247, 247);
$purple: rgb(94, 11, 79);
$border-radius: 8px;
$btn-radius: 5px;

$header-h-mobile: 64px;
$header-h-tablet: 92px;
$header-h-desktop: 102px;
$header-h-large: 120px;

// fix for importing correct font
@mixin trenda($weight: "normal") {
	@if ($weight == "normal") {
		font-family: "trenda", sans-serif;
	} @else if($weight == "semi-bold") {
		font-family: "trenda-semi-bold", sans-serif;
	} @else if($weight == "bold") {
		font-family: "trenda-bold", sans-serif;
	} @else if($weight == "black") {
		font-family: "trenda-black", sans-serif;
	}
}

@mixin header_height {
	@include media("mobile") {
		height: $header-h-mobile;
	}
	@include media("tablet") {
		height: $header-h-tablet;
	}
	@include media("desktop") {
		height: $header-h-desktop
	}
	@include media("large") {
		height: $header-h-large;
	}
}
